
CustomCalculator/.vs/CustomCalculator/v15/.suo
CustomCalculator/.vs/CustomCalculator/v15/.suo
CustomCalculator/.vs/CustomCalculator/v15/Server/sqlite3/storage.ide-shm
CustomCalculator/.vs/CustomCalculator/v15/Server/sqlite3/storage.ide-wal
CustomCalculator/.vs/CustomCalculator/v15/Server/sqlite3/storage.ide
CustomCalculator/.vs/CustomCalculator/v15/.suo
CustomCalculator/.vs/CustomCalculator/v15/Server/sqlite3/storage.ide-wal
CustomCalculator/CustomCalculator/obj/Debug/CustomCalculator.csproj.CoreCompileInputs.cache
CustomCalculator/.vs/CustomCalculator/v15/.suo
CustomCalculator/CustomCalculator/obj/Debug/CustomCalculator.csproj.CoreCompileInputs.cache
