
CustomCalculator/.vs/CustomCalculator/v15/.suo
CustomCalculator/.vs/CustomCalculator/v15/.suo
CustomCalculator/.vs/CustomCalculator/v15/Server/sqlite3/storage.ide-shm
CustomCalculator/.vs/CustomCalculator/v15/Server/sqlite3/storage.ide-wal
